# Environment files
.env
.env.development
.env.production
.env.example

# Logs
logs/
*.log

# Dependency directories
node_modules/

# Build output
dist/

# OS files
.DS_Store
Thumbs.db

# Testing
coverage/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Public
public/**/*
